Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.
ans:select substring(firstname,1,3) from worker_basedata;

 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.
ans:Select INSTR(firstname, BINARY'a') from worker_basedata where firstname = 'Amitabh';

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.
ans:select worker_basedata.firstname,worker_data.department ,max(worker_data.salary) from worker_basedata
inner join worker_data
on worker_basedata.workerid=worker_data.workerid 
group by worker_data.department
order by worker_data.salary desc ;